body {
  background-color: lightgrey;
}

.keyboard {
  margin: 0 auto;
  width: 855px;
  display: flex;
  flex-wrap: wrap;
}
.screen {
  font-size: 20px;
  margin-bottom: 10px;
  width: 900px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
}

.firstLine {
  display: flex;
}
.secondLine {
  display: flex;
}
.thirdLine {
  display: flex;
}
.fourthLine {
  display: flex;
}
.button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}

.delete {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px;
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
.tab {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px;
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
.caps-lock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
.return {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  width: 110px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
.shift {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  width: 135px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
.space {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  width: 856px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
